@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

@import url("./utils.css");
@import url("./reset.css");
@import url("./variables/index.css");
@import url("./header.css");
@import url("./identify.css");
@import url("./profile.css");
@import url("./fidelity.css");
@import url("./progress.css");
@import url("./resume.css");


body {
    height: 100%;
    font-family: "Oxygen", sans-serif;
    background-color: var(--base-gray-200);
}

.member-club-app {
    padding-bottom: 24px;
}

@media (width > 980px) {
    .member-club-app__data {
        display: grid;
        grid-template-areas: 
            "A B B B"
            "C B B B"
            "C B B B"
            "C D D D";

        gap: 16px 24px;
    }
    
}
