.mc-progress {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-block: 8px;
}

.mc-progress > div {
    margin-right: 24px;
}

.mc-progress__wrapper-bar {
    display: flex;
    align-items: center;
    margin-top: 8.5px;
}

.mc-progress__wrapper-bar__progress-bar {
    min-width: 182px;
    height: 8px;
    background-color: var(--base-gray-300);
    border-radius: 10px;
    position: relative;
    margin-right: 12px;
}

.mc-progress__wrapper-bar__steps {
    white-space: nowrap;
}

.mc-progress__wrapper-bar__progress-bar > span {
    width: 80%;
    position: absolute;
    height: 8px;
    background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
    border-radius: 10px;
}